.note-content {
    height: 100%;
}

.options {
    height: 100%;
}

.row-options {
    height: 39px;
}

.flex-grow-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row-arbo {
    flex: 1;
}

.note-bg {
    background-color: #F3F2F8;
}