.note-search {
    height: 100%;
    align-content: center;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.add-icon-root {
    background-color: #A78BFA;
    border-radius: 4px;
    margin-left: 10px;
    border: none;
    color: #F5F3FF;
    font-size: 1.5rem;
    height: 23px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-icon-root:hover {
    background-color: #DDD6FE;
    color: #1F2937;
    cursor: pointer;
}