.note-toolbar {
    height: 100%;
    align-content: center;
    display: flex;
    padding: 2px;
    padding-right: 11px;
    justify-content: flex-end;
}

.btns-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-toolbar {
    background-color: #A78BFA;
    margin-left: 10px;
    border: none;
    color: #F5F3FF;
    font-size: 1rem;
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-toolbar:hover {
    background-color: #DDD6FE;
    color: #1F2937;
    cursor: pointer;
}

#delete-note-form {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}