.note-toolbar {
    height: 100%;
    align-content: center;
    display: flex;
    padding: 2px;
    padding-right: 11px;
    padding-left: 5px;
    justify-content: space-between;
}

.btns-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-toolbar {
    background-color: var(--secondary-color);
    margin-left: 10px;
    border: none;
    color: var(--white-text-color);
    font-size: 1rem;
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-toolbar:hover {
    background-color: var(--hover-color);
    color: var(--black-text-color);
    cursor: pointer;
}

#delete-note-form {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-url {
    background-color: var(--hover-color);
    padding: 0px 5px;
    border-radius: 4px;
    height: 28px;
    min-width: 40%;
    display: flex;
    align-self: center;
}

.url {
    display: flex;
    align-items: center;
    color: var(--black-text-color);
}