.note-arbo {
    padding: 0px 5px 10px 5px;
    max-height: calc(100vh - 78px);
    min-width: 100%;
    color: #1F2937;
    overflow: scroll;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: #DDD6FE #F5F3FF;
}

.folder {
    padding: 1px 0px 1px 0px;
    margin: 0px;
    border-radius: 4px;
}

.note {
    padding: 2px 0px 2px 5px;
    margin: 2px 0px;
    border-radius: 4px;
    width: 100%;
}

.note-header {
    display: flex;
    justify-content: space-between;
}

.folder-content {
    margin-left: 6px;
    padding-left: 6px;
}

.note:hover,
.folder-header:hover {
    cursor: pointer;
    background-color: #DDD6FE;
    color: #1F2937;
}

.folder-icon,
.file-icon {
    margin-right: 3px;
}

.folder-name,
.note-name {
    cursor: pointer;
}

.file-icon {
    margin-left: 15px;
}

.active {
    background-color: #A78BFA;
    color: #F5F3FF;
}

.folder-header {
    display: flex;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    justify-content: space-between;
}

.open-icon {
    cursor: pointer;
    text-align: center;
    align-content: center;
    font-size: 0.8em;
}

.btn-delete-folder {
    cursor: pointer;
    text-align: center;
    align-content: center;
    font-size: 0.9em;
    margin-right: 2px;
    color: #1F2937;
    display: none;
}

.folder-header:hover .btn-delete-folder,
.active .btn-delete-folder {
    display: inline-block;
}

.btn-delete-folder:hover {
    color: #A78BFA;
}

.btn-delete-note {
    cursor: pointer;
    text-align: center;
    align-content: center;
    font-size: 0.9em;
    margin-right: 4px;
    color: #1F2937;
    display: none;
}

.note:hover .btn-delete-note,
.note.active .btn-delete-note {
    display: inline-block;
}

.btn-delete-note:hover {
    color: #A78BFA;
}